a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none
}

/*Footer containers ie., columns*/
#container3 {
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
  }
  #container2 {
    float:left;
    width:100%;
    position:relative;
    right:30%;
  }
  #container1 {
    float:left;
    width:100%;
    position:relative;
    right:40%;
  }
  #col1 {
    float:left;
    width:26%;
    position:relative;
    left:72%;
    overflow:hidden;
    padding-right: 30px;
  }
  #col2 {
    float:left;
    width:36%;
    position:relative;
    left:76%;
    overflow:hidden;
  }
  #col3 {
    float:left;
    width:26%;
    position:relative;
    left:80%;
    overflow:hidden;
  }
  
  /*footer*/
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color:green;
    color: white;
    text-align: center;
  }
  
  .h4 {
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1.23077em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px;
  }
  
  .h4f{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1.23077em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px;
    padding: 5px;
    text-align: center;
  }
  .side{
    text-align: center;
    list-style: none;
    padding-left: 20px;
  }

  
  .side a{
    text-decoration: none;
    color: white;
  }
  h3{
    color:green;
}
h3:after {
    content: "";
    display: block;
    margin: 10px auto 20px;
    height: 4px;
    width: 100px;
    border-top: 1px solid #328a42;
    border-bottom: 1px solid #328a42;
  }
  .align{
    text-align: center;
}    
.checked {
    color:green;
  }

  .abc {
      color:black;
      padding-top: 8px;
      text-decoration: black;
  }

ul{
    list-style-type: none
}

.back{
    background-color:green;
    color: white;
}
/*class for padding*/
.pad{
    padding-top:200px;
}

/*for header fixing in mobile view*/
html,body{
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow-x: hidden;
}